# ===== Android / Gradle =====
*.apk
*.aab
*.ap_
*.dex
*.class
build/
.gradle/
local.properties

# ===== Android Studio / IntelliJ =====
.idea/
*.iml
out/

# ===== Native build =====
.externalNativeBuild/
.cxx/

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db
